<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>ログイン</title>
<title>Insert title here</title>
<style>
h1 {
font-size: 24px; font-weight:bold; color:gray;}
body {
font-size: 17px; color: gray; margin: 5px 25px;}
pre {
font-size: 17px; color:gray; padding:5px 10px; border:1px solid gray;
}
tr {
margin: 5px;
}
th {
padding: 5px; color:white; background:darkgray;
}
td {
padding: 5px; color:black; background:#f0f0f0;
}
div { margin-bottom: 15px; }
.err { color: red; }
</style>
</head>
<body>

<!-- 上記のコードでは、CSRFトークンの記載していませんが、
フォームタグのところに th:action="@{/login}"の記載をすることで、
自動的に CSRFトークンが設定されるようになっています。ブラウザから HTML を確認してみると、自動的に CSRF トークンが設定されていることが分かります 
<input type="hidden" name="_csrf" value="28fa2860-3180-40d3-b750-fb09a1c588b7"/>という風になっています
以上のとおり、コードを書く側は CSRF を意識しなくとも Spring Security が自動的に CSRF 対策をしてくれます。-->

 <h2 class="heading">ログイン</h2>
    <form method="post" th:action="@{/login}">
        <div th:if="${param.error}">
            ログインに失敗しました
            <div th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}">
                <span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"></span>
            </div>
        </div>
        <div th:if="${param.logout}">
            ログアウトしました
        </div>
        <label for="username">ユーザー名</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">パスワード</label>
        <input type="password" id="password" name="password"><br>
        <button type="submit">ログイン</button>
    </form>
</body>
</html>